
  .panel-profile{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    
  }
  .medical{
    
  }
  .list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }