.panell {
  width: 100%;
  height: 844px;
  top: 231px;
  left: 0px;
  padding: 50px 0px 0px 0px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex: 1;
  overflow: auto;
}

.bodyy {
  width: (350px) px;
  height: (690px) px;
  top: 50px;
  left: 20px;
  gap: 20px;
  opacity: 0px;
  flex: 1;
}

.headerr {
  width: Fill (350px) px;
  height: Hug (24px) px;
  gap: 11px;
  opacity: 0px;
  flex: 1;
}

.content {
  /* width: Fill (350px) px;
  height: Hug (232px) px;
  padding: 20px 0px 0px 0px; */
  width: 100%;
  gap: 20px;
  border-radius: var(--Radiussm, 8px);
  opacity: 0px;
  background: var(--Colours-White, #ffffff);
  flex: 1;

  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newTherapy {
  /* width: Fill (310px) px;
  height: Hug (84px) px;
  gap: 0px;
  opacity: 0px;
  justify-content: space-around;
  flex: 1; */

  width: 100%;
}

.selectZone {
  /* width: Fill (310px) px;
  height: Hug (88px) px;
  gap: 8px;
  opacity: 0px; */

  width: 100%;
}

.saveButton {
  width: Fill (350px) px;
  height: Fill (394px) px;
  gap: 10px;
  opacity: 0px;
  margin-top: 50px;
  padding-top: 20%;

  flex-direction: column;
  justify-content: center;
}

/* .button {
  width: Fill (350px) px;
  height: Hug (44px) px;
  padding: 10px 0px 10px 0px;
  gap: 10px;
  border-radius: var(--Radiusxs, 10px);
  opacity: 0.3px;
  background: var(--Primary, #ff0000);
} */

.med {
  width: 100%;
  gap: 10px;
  padding: 5px;
  position: relative;

  background: var(--Background-light, #f8f4f4);
}

/*///////////////////////////*/

.med .MuiIconButton-root {
    position: absolute; /* Absolute positioning for IconButton */
    top: 0px; /* Adjust to your preferred distance from the top */
    right: 0px; /* Adjust to your preferred distance from the right */
  }

/*///////////////////////////////////*/
