:root {
  font-family: "Open sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #F00;
  background-color: #F8F4F4;

}